<body>
    <h1 class="titulo">{{titulo}} </h1>
    <br>

    <div class="subparraf">
        <p>Accede a la wiki de Argentina en el siguiente <a href="https://es.wikipedia.org/wiki/Argentina"
                target="_blank" rel="noopener noreferrer">link</a>
        </p>
        <BR>
        <a href="https://recetasdeargentina.com.ar/">Recetas locales</a>
    </div>
    <br>
    <form>
        <fieldset>
            <legend>Listado de provincias</legend>
            <table border="2">
                <thead>
                    <th>ID</th>
                    <th>Provincia</th>
                    <th>Capital</th>
                    <th>Descripción</th>
                </thead>
                <tbody *ngIf="provincias.length > 0;else fila">
                    <tr *ngFor=" let provincia of provincias">
                        <td>{{provincia.id}}</td>
                        <td>{{provincia.nombre}}</td>
                        <td>{{provincia.capital}}</td>
                        <td>{{provincia.descripcion}}</td>
                        <button class="btn btn-danger" (click)=eliminar($event)
                            value="{{provincia.id}}">Eliminar</button>
                    </tr>
                </tbody>
                <ng-template #fila>
                    <tbody>
                        <tr>
                            <td colspan="4">No hay mas filas</td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </fieldset>
    </form>
    <br>
    <form (submit)="actualizar()" method="post">

        <fieldset class=" my-3 px-4">
            <!-- INICIO ACTUALIZAR PROVINCIAS-->
            <legend>Seleccione <b> ID PROVINCIA </b> para <b> ACTUALIZAR </b></legend>

            <select class="form-control" required [(ngModel)]="id_select" name="id_select"
                (change)="seleccionaValor($event)">
                <!--Esta opcion queda fija por opcion disabled-->

                <option class="dropdown-item" disabled selected value="undefined">Seleccione ID PROVINCIA</option>

                <option *ngFor="let provincia of provincias" [value]="provincia.id">{{provincia.id}} </option>
            </select>
            <br> <br>

            <b> <label for="exampleFormControlInput1">Nombre de la Provincia: </label></b> <br>

            <input type="text" (focus)="limpiarNombreActualizar()" [(ngModel)]="actual.nombre" name="actual.nombre"
                placeholder="Nombre Provincia"> <br> <br>

            <b> <label for="exampleFormControlInput1">Capital de la Provincia: </label></b> <br>
            <input type="text" (focus)="limpiarCapitalActualizar()" [(ngModel)]="actual.capital" name="actual.capital"
                placeholder="Capital"> <br> <br>


            <b> <label for="exampleFormControlInput1">Descripción de la Provincia: </label></b> <br>
            <textarea name="" id="" cols="40" rows="10" (focus)="limpiarDescripcionActualizar()"
                [(ngModel)]="actual.descripcion" name="actual.descripcion" placeholder="Descripción"></textarea> <br>

            <button (click)="validarCamposActualizar()"
                class="btn btn-success btn-lg custom-btn btn-block">Actualizar</button>

        </fieldset>
    </form>
    <br>

    <form (submit)="agregarProvincia()" method="post">
        <fieldset>
            <div class="form-row">
                <legend style="color:white">Agregar nueva provincia</legend>
                <div class="col">
                    <input type="text" [(ngModel)]="provinciaNueva.nombre" name="provinciaNueva.nombre"
                        class="form-control mb-2" placeholder="Nombre" (focus)="limpiarNombre()">
                </div>
                <div class="col">
                    <input type="text" [(ngModel)]="provinciaNueva.capital" name="provinciaNueva.capital"
                        class="form-control mb-2" placeholder="Capital" (focus)="limpiarCapital()">
                </div>
                <div class="col">
                    <input type="text" [(ngModel)]="provinciaNueva.descripcion" name="provinciaNueva.descripcion"
                        class="form-control" placeholder="descripcion" (focus)="limpiarDescripcion()">
                </div>
                <button class="btn btn-success" (click)="validarCampos()">Agregar provincia</button>
            </div>
        </fieldset>
    </form>

    <div class="provinciaJson">
        {{provinciaNueva | json}}
    </div>

    <div class="errores">
        <div [ngSwitch]="errorNombre" class="bg-secondary text-white">
            <div *ngSwitchCase="1">Debes completar el campo nombre de provincia</div>
            <div *ngSwitchCase="2">Nombre de provincia muy largo</div>
            <div *ngSwitchCase="3">Nombre de provincia debe ser alfabético y empezar por mayúscula</div>
        </div>

        <div [ngSwitch]="errorCapital" class="bg-secondary text-white">
            <div *ngSwitchCase="1">Debes completar el campo capital</div>
            <div *ngSwitchCase="2">Texto de capital muy largo</div>
            <div *ngSwitchCase="3">Campo capital debe ser alfabético y empezar por mayúscula</div>
        </div>

        <div [ngSwitch]="errorDescripcion" class="bg-secondary text-white">
            <div *ngSwitchCase="1">Debes completar el campo sitio de descripcion</div>
            <div *ngSwitchCase="2">Texto de descripcion muy largo</div>
            <div *ngSwitchCase="3">Campo descripcion debe ser alfabético y empezar por mayúscula</div>
        </div>

        <br>
        <br>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mgcmuFk6XlY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>


</body>
<router-outlet></router-outlet>