<body>
    <h1 class="titulo">{{titulo}} <img
            src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fpng-clipart%2F20210704%2Foriginal%2Fpngtree-3-golden-3d-realistic-stars-png-image_6506672.jpg&f=1&nofb=1&ipt=b4565b30fe86f7c68f3ccf8d14b6ecc6fc3de5351e4cb5b803320113665253ad&ipo=images"
            alt="Texto_descriptivo" align="center" width="100" height="100" border="1"> </h1>
    <BR>


    <dt><strong><u>Copa del mundo en 3D </u></strong></dt>
    <p>Descarga la copa del fin del mundo en formato "STL" <a
            href="https://cults3d.com/en/3d-model/art/fifa-world-cup-in-parts-copa-del-mundo-fifa-en-partes"
            target="_blank" rel="noopener noreferrer">freeCodeCamp</a>.</p>

    <dt><strong><u>Fixture completo</u></strong></dt><BR>

    <a
        href="javascript:window.open('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.blpmCvM1Jya2nkARUMoR1QHaFj%26pid%3DApi&f=1&ipt=d58f9e4a0b242890e6851500fb9a390b02608701ac10758a5189bbe0476a6d2b&ipo=images','','toolbar=yes');void 0">Descargar
        Fixture completo</a>

    <br>
    <br>

    <form>
        <fieldset>
            <legend>Listado de provincias</legend>
            <table border="2">
                <thead>
                    <th>ID</th>
                    <th>Provincia</th>
                    <th>Capital</th>
                    <th>Sitios de interés</th>
                </thead>
                <tbody *ngIf="provincias.length > 0;else fila">
                    <tr *ngFor=" let provincia of provincias">
                        <td>{{provincia.id}}</td>
                        <td>{{provincia.nombre}}</td>
                        <td>{{provincia.capital}}</td>
                        <td>{{provincia.sInteres}}</td>
                        <button class="btn btn-danger" (click)=eliminar($event)
                            value="{{provincia.id}}">Eliminar</button>
                    </tr>
                </tbody>
                <ng-template #fila>
                    <tbody>
                        <tr>
                            <td colspan="4">No hay mas filas</td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </fieldset>
    </form>
    <br>

    <form (submit)="actualizar()" method="post">
        <fieldset>
            <div style="background-color: white">
                <legend>Seleccione una provincia para modificar</legend>
            </div>
            <select class="form-control" required [(ngModel)]="id_select" name="id_select"
                (change)="seleccionaValor($event)">
                <option class="dropdown-item" disabled selected value="undefined">Seleccione ID</option>
                <option *ngFor="let provincia of provincias" [value]="provincia.id">{{provincia.id}}</option>
            </select>
            <input type="text" [(ngModel)]="actual.nombre" name="actual.nombre" placeholder="nombre de provincia">
            <input type="text" [(ngModel)]="actual.capital" name="actual.capital" placeholder="capital">
            <input type="text" [(ngModel)]="actual.sInteres" name="actual.sInteres" placeholder="sitio de interes">
            <button (click)="validarCamposActual()" class="btn btn-success">Actualizar</button>
        </fieldset>
    </form>
    <div>
        <div [ngSwitch]="errorNombreActual" class="bg-secondary text-white">
            <div *ngSwitchCase="1">Debes completar el campo nombre de provincia</div>
            <div *ngSwitchCase="2">Nombre de provincia muy largo</div>
            <div *ngSwitchCase="3">Nombre de provincia debe ser alfabético y empezar por mayúscula</div>
        </div>

        <div [ngSwitch]="errorCapitalActual" class="bg-secondary text-white">
            <div *ngSwitchCase="1">Debes completar el campo capital</div>
            <div *ngSwitchCase="2">Texto de capital muy largo</div>
            <div *ngSwitchCase="3">Campo capital debe ser alfabético y empezar por mayúscula</div>
        </div>

        <div [ngSwitch]="errorSInteresActual" class="bg-secondary text-white">
            <div *ngSwitchCase="1">Debes completar el campo sitio de interés</div>
            <div *ngSwitchCase="2">Texto de sitio de interés muy largo</div>
            <div *ngSwitchCase="3">Campo sitio de interés debe ser alfabético y empezar por mayúscula</div>
        </div>
    </div>

    <br>
    <br>

    <form (submit)="agregarProvincia()" method="post">
        <fieldset>
            <div class="form-row">
                <legend style="color:white">Agregar nueva provincia</legend>
                <div class="col">
                    <input type="text" [(ngModel)]="provinciaNueva.nombre" name="provinciaNueva.nombre"
                        class="form-control mb-2" placeholder="Nombre" (focus)="limpiarNombre()">
                </div>
                <div class="col">
                    <input type="text" [(ngModel)]="provinciaNueva.capital" name="provinciaNueva.capital"
                        class="form-control mb-2" placeholder="Capital" (focus)="limpiarCapital()">
                </div>
                <div class="col">
                    <input type="text" [(ngModel)]="provinciaNueva.sInteres" name="provinciaNueva.sInteres"
                        class="form-control" placeholder="Sitios de interés" (focus)="limpiarSInteres()">
                </div>
                <button (click)="validarCampos()" class="btn btn-success">
                    Agregar provincia</button>
            </div>
        </fieldset>
    </form>

    <div class="provinciaJson">
        {{provinciaNueva | json}}
    </div>

    <div>
        <div [ngSwitch]="errorNombre" class="bg-secondary text-white">
            <div *ngSwitchCase="1">Debes completar el campo nombre de provincia</div>
            <div *ngSwitchCase="2">Nombre de provincia muy largo</div>
            <div *ngSwitchCase="3">Nombre de provincia debe ser alfabético y empezar por mayúscula</div>
        </div>

        <div [ngSwitch]="errorCapital" class="bg-secondary text-white">
            <div *ngSwitchCase="1">Debes completar el campo capital</div>
            <div *ngSwitchCase="2">Texto de capital muy largo</div>
            <div *ngSwitchCase="3">Campo capital debe ser alfabético y empezar por mayúscula</div>
        </div>

        <div [ngSwitch]="errorSInteres" class="bg-secondary text-white">
            <div *ngSwitchCase="1">Debes completar el campo sitio de interés</div>
            <div *ngSwitchCase="2">Texto de sitio de interés muy largo</div>
            <div *ngSwitchCase="3">Campo sitio de interés debe ser alfabético y empezar por mayúscula</div>
        </div>

        <br>
        <br>






        <iframe width="560" height="315" src="https://www.youtube.com/embed/mgcmuFk6XlY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>



        <router-outlet></router-outlet>
    </div>
</body>